/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require pickadate/default
 *= require pickadate/default.date
 *= require_self
 */
@import "bootstrap";
@import "variables";
@import "font-awesome";

body { padding-top: 60px; }
.layout-container { margin: 20px; }

.footer-link {
  position: fixed;
  left: 10px;
  bottom: 10px;
  img { height: 22px; }
}
.love-link {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

form {
  width: 100%;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.border-left {
  border-left: 1px solid $green;
}
.border-right {
  border-right: 1px solid $green;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-auto {
  margin: auto;
}
.inline-block {
  display: inline-block;
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  body { padding-top: 60px; }
  .layout-container { margin: 0; }
  .footer-link,
  .love-link {
    position: static;
    text-align: center;
    img {
      margin: 5px auto;
      display: block;
      height: 50px;
    }
  }

  .border-left,
  .border-right {
    border: none;
  }
}
