.favorite-image, .view-image {
  position: absolute;
  top: 0;
  padding: 10px 10px 20px 20px;
}
.favorite-image {
  left: 50%;
  margin-left: -80px;
}
.view-image {
  right: 50%;
  margin-right: -80px;
}
