@import "variables";

.navbar .navbar-header .navbar-brand {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 0;
  img {
    height: 100%;
    padding: 8px 0;
  }
}
.navbar-toggle {
  padding-top: 5px;
  padding-bottom: 4px;
}
.nav {
  text-align: center;
}

@media screen and (min-width: $grid-float-breakpoint) {
  .visible-collapsed {
    display: none;
  }
  .nav {
    padding: 5px 10px;
    font-size: 1.25em;

    float: none;
    display: inline-block;
  }
  .navbar-collapse {
    text-align: center;
    height: 90px !important;
  }
}
