%div
  #dropzone-template.file-row.margin-top-30
    %div
      %div
        %span.name{data: { dz: { name: "" }}}
        = "-"
        %span{data: { dz: { size: "" }}}
      %strong.error.text-danger{data: { dz: { errormessage: "" }}}
    %div
      .progress.progress-striped.active
        .progress-bar{data: { dz: { uploadprogress: "" }}}
