<div>
  <div id="dropzone-template" class="file-row margin-top-30">
    <div>
      <div>
        <span class="name" data-dz-name></span>
        - <span class="size" data-dz-size></span>
      </div>
      <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
      <div class="progress progress-striped active">
        <div class="progress-bar" data-dz-uploadprogress></div>
      </div>
    </div>
  </div>
</div>
