<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <a class="link" href="#" target="_blank"><i class="fa fa-link fa-2x"></i></a>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
</div>
