- bootstrap_class = { success: "alert-success", error: "alert-danger", alert: "alert-danger", notice: "alert-success" }
- flash.each do |msg_type, message|
  .alert(class="#{bootstrap_class[msg_type.to_sym]}")
    = message
    %button.close(data-dismiss="alert") x
